version: 2
updates:
  - package-ecosystem: "github-actions"
    # NOTE(robinson) - Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "monthly"
