***REMOVED*** Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

***REMOVED*** C extensions
*.so

***REMOVED*** Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

***REMOVED*** PyInstaller
***REMOVED***  Usually these files are written by a python script from a template
***REMOVED***  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

***REMOVED*** Installer logs
pip-log.txt
pip-delete-this-directory.txt

***REMOVED*** Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

***REMOVED*** Translations
*.mo
*.pot

***REMOVED*** Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

***REMOVED*** Flask stuff:
instance/
.webassets-cache

***REMOVED*** Scrapy stuff:
.scrapy

***REMOVED*** Sphinx documentation
docs/_build/

***REMOVED*** PyBuilder
target/

***REMOVED*** Jupyter Notebook
.ipynb_checkpoints
nbs/

***REMOVED*** IPython
profile_default/
ipython_config.py

***REMOVED*** pyenv
.python-version

***REMOVED*** pipenv
***REMOVED***   According to pypa/pipenv***REMOVED***598, it is recommended to include Pipfile.lock in version control.
***REMOVED***   However, in case of collaboration, if having platform-specific dependencies or dependencies
***REMOVED***   having no cross-platform support, pipenv may install dependencies that don't work, or not
***REMOVED***   install all needed dependencies.
***REMOVED***Pipfile.lock

***REMOVED*** PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

***REMOVED*** Celery stuff
celerybeat-schedule
celerybeat.pid

***REMOVED*** SageMath parsed files
*.sage.py

***REMOVED*** Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

***REMOVED*** Spyder project settings
.spyderproject
.spyproject

***REMOVED*** Rope project settings
.ropeproject

***REMOVED*** mkdocs documentation
/site

***REMOVED*** mypy
.mypy_cache/
.dmypy.json
dmypy.json

***REMOVED*** Pyre type checker
.pyre/

***REMOVED*** ingest outputs
/structured-output

***REMOVED*** suggested ingest mirror directory
/mirror

***REMOVED******REMOVED*** https://github.com/github/gitignore/blob/main/Global/Emacs.gitignore (partial)

*~
\***REMOVED****\***REMOVED***
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\***REMOVED****

***REMOVED******REMOVED*** https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

***REMOVED*** Local History for Visual Studio Code
.history/

***REMOVED*** Built Visual Studio Code Extensions
*.vsix

***REMOVED******REMOVED*** https://github.com/github/gitignore/blob/main/Global/Vim.gitignore
***REMOVED*** Swap
[._]*.s[a-v][a-z]
!*.svg  ***REMOVED*** comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

***REMOVED*** Session
Session.vim
Sessionx.vim

***REMOVED*** Temporary
.netrwhist
***REMOVED*** Auto-generated tag files
tags
***REMOVED*** Persistent undo
[._]*.un~

.DS_Store
