# Base requirements and constraints
include requirements/base.in

# Unstructured library extras
include requirements/extra-csv.in
include requirements/extra-docx.in
include requirements/extra-epub.in
include requirements/extra-markdown.in
include requirements/extra-msg.in
include requirements/extra-odt.in
include requirements/extra-paddleocr.in
include requirements/extra-pandoc.in
include requirements/extra-pdf-image.in
include requirements/extra-pptx.in
include requirements/extra-xlsx.in
include requirements/huggingface.in

