include requirements/base.in
include requirements/huggingface.in
include requirements/ingest-s3.in
include requirements/ingest-azure.in
include requirements/ingest-discord.in
include requirements/ingest-github.in
include requirements/ingest-gitlab.in
include requirements/ingest-reddit.in
include requirements/ingest-notion.in
include requirements/ingest-slack.in
include requirements/ingest-wikipedia.in
include requirements/ingest-google-drive.in
include requirements/ingest-gcs.in
include requirements/ingest-elasticsearch.in
include requirements/ingest-dropbox.in
include requirements/ingest-box.in
include requirements/ingest-onedrive.in
include requirements/ingest-outlook.in
include requirements/ingest-confluence.in
include requirements/ingest-airtable.in
include requirements/ingest-sharepoint.in
