jupyter
torch>=1.13.1
torchaudio
torchvision
transformers
ratelimit
requests
unstructured>=0.2.1

# NOTE(robinson) - these bumps are to resolve security scan items
certifi>=2022.12.07
IPython>=8.10
pillow>=9.3.0
