/* Css to change color scheme of side navigation search bar */
.wy-side-nav-search {
    background-color: ***REMOVED***122540;
}

/* For changing the color of sidebar */
.wy-nav-side {
    background: ***REMOVED***122540;
}