name: Build And Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  DOCKER_REGISTRY: quay.io
  DOCKER_NAMESPACE: unstructured-io
  DOCKER_IMAGE_NAME: unstructured
  DOCKER_REPOSITORY: ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_NAMESPACE }}/${{ env.DOCKER_IMAGE_NAME }}
  PIP_VERSION: "22.2.1"
  PYTHON_VERSION: "3.8"
  NLTK_DATA: ${{ github.workspace }}/nltk_data
  TEST_IMAGE_NAME: "unstructured-dev"

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      id: virtualenv-cache
      with:
        path: |
          .venv
          nltk_data
        key: unstructured-${{ runner.os }}-${{ hashFiles('requirements/*.txt') }}
    - name: Set up Python ${{ env.PYTHON_VERSION }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}
    - name: Setup virtual environment (no cache hit)
      if: steps.virtualenv-cache.outputs.cache-hit != 'true'
      run: |
        python${{ env.PYTHON_VERSION }} -m venv .venv
        source .venv/bin/activate
        make install-ci
        
  build:
    runs-on: ubuntu-latest
    needs: [setup]
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set virtualenv cache
      uses: actions/cache@v3
      id: virtualenv-cache
      with:
        path: |
          .venv
          nltk_data
        key: unstructured-${{ runner.os }}-${{ hashFiles('requirements/*.txt') }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Quay.io
      uses: docker/login-action@v1
      with:
        registry: quay.io
        username: ${{ secrets.QUAY_IO_ROBOT_USERNAME }}
        password: ${{ secrets.QUAY_IO_ROBOT_TOKEN }}
    - name: Set Docker Repository
      id: get-docker-repo
      run: |
        DOCKER_REPOSITORY=${DOCKER_REGISTRY}/${DOCKER_NAMESPACE}/${DOCKER_IMAGE_NAME}
        echo "::set-output name=docker_repository::$DOCKER_REPOSITORY"
        echo "DOCKER_REPOSITORY=$DOCKER_REPOSITORY" >> $GITHUB_ENV
    - name: Build AMD64 Image
      run: |
        DOCKER_BUILDKIT=1 docker buildx build --platform=linux/amd64 --load \
          --build-arg PIP_VERSION=$PIP_VERSION \
          --progress plain \
          --cache-to type=gha,scope=$GITHUB_REF_NAME-$IMAGE_NAME \
          --cache-from type=gha,scope=$GITHUB_REF_NAME-$IMAGE_NAME \
          --cache-from $DOCKER_REPOSITORY:amd \
          -t $DOCKER_REPOSITORY:amd .
